body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center; /* Centrar todo el texto en el cuerpo */
}

/* Estilo para el encabezado */
h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilo para el formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para las etiquetas y campos de entrada */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
}

input[type="button"],
input[type="reset"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

input[type="button"] {
    background-color: #28a745;
    color: white;
}

input[type="button"]:hover {
    background-color: #218838;
}

input[type="reset"] {
    background-color: #dc3545;
    color: white;
}

input[type="reset"]:hover {
    background-color: #c82333;
}